# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
/cni/dist
/cni/bin
/cni/pkg
PROJECT
api
build-support
catalog
commands.go
config
consul
controller
hack
helper
main.go
namespaces
version
